/*  */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* ==============Nav============== */
#nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 4;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.header-logo {
    display: block;
    margin: 37px 57px 36px 0;
}

#nav .flex-container {
    display: flex;
}

ul.nav {
    list-style: none;
    display: flex;
}

ul.nav a {
    display: block;
    margin: 50px 0 46px 0;
    margin-right: 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

 #nav .nav li:first-child a{
    display: block; 
    padding-bottom: 10px;
    border-bottom: 3px solid #6200EE;
} 
#nav .nav a:first-child:hover {
    display: block; 
    padding-bottom: 10px;
    border-bottom: 3px solid #6300ee82;
} 

.social-icons {
    margin: 51px 0 51px 400px;
}

.social-icons:last-child {
    margin-right: 0;
}

.svg-icon {
    margin-right: 22px;
}

.social-item:hover path {
    fill: #03DAC4;
}

/* ==============Header============== */
#header .container{
    position: relative;
    padding: 0 0 187px 0;
}

#header .header-photo {
    position: absolute;
    top: 0;
    right: -250px;
}

#header .subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    margin: 214px 0 0 0;
}

#header .title {
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: -0.5px;
    width: 673px;
    color: #6200EE;
    margin: 14px 0 0 0;
}

#header .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    margin: 35px 0 0 0;
    color: rgba(0, 0, 0, 0.6);
    width: 588px;
}

#header .input-number {
    margin: 70px 0 187px 0;
    display: inline-flex;
    box-shadow: 10px 10x 10px rgba(0, 0, 0, 0.5); 
}

#header .phone {
    width: 306px;
    height: 56px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    

}

#header .call {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 26px;
    background-color: #3B00DD;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0;
    
}

#header .call:hover {
    opacity: 0.7;

}

/* ==============Video============== */
#video .title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 700;
    margin: 125px 0 39px 0;
}

#video .description {
    display: block;
    margin: 0 auto 41px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 793px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

#video .content-container {
    display: flex;
    margin-bottom: 152px;

}

#video .video-content {
    margin-right: 24px;
    box-shadow:  20px 20px 20px  rgba(0, 0, 0, 0.14);
    position: relative;
    z-index: -1;


}

.photo-inner {
    margin-bottom: 56px;

}

.play-button {
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 179px;
    width: 40px;
    height: 40px;
    

}
.play-icon{
   background-color: rgba(0, 0, 0, 0);
   border-color: rgba(0, 0, 0, 0);

}


.grey-icon {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 173px;
}

#video .name {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;
}

#video .profession {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);

}

/* ==============Gallery============== */

#gallery .content-container {
    margin: 106px 0 182px 0;
    background-color: #F5F5F5;
}

.grid-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 282px 282px;
}

.grid-elements:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    background-color: #0000A0;
}


.grid-text {
    margin-left: 48px;
}

.grid-time {
    margin-top: 78px;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
}

.grid-title {
    margin-top: 85px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.grid-subtitle {
    margin-top: 9px;
    font-size: 20px;
    font-weight: 400;
    color: #F5F5F5;
}

.grid-description {
    margin-top: 28px;
    margin-right: 48px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15.4px;
    font-weight: 400;
    width: 180px;
}

/* ==============Consultation============== */
#consultation .title {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 107px;
    width: 792px;
}

#consultation .flex-container {
    display: flex;
}

#consultation .left-column {
    background-color: #3B00DD;
    width: 384px;
    height: 480px;

}

#consultation .left-column .consulation-inner {
    margin: 70px 24px 40px 24px;
}

#consultation .left-column .title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    width: 300px;
    margin-bottom: 26px;

}

#consultation .left-column .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.15px;

}

#consultation .left-column .economist {
    display: flex;
    margin-top: 48px;
    margin-bottom: 24px;
}

#consultation .left-column .text {
    display: block;
    margin-left: 16px;
}

#consultation .left-column .profession {

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF
}

#consultation .left-column .name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

#consultation .right-column {
    margin-left: 126px;
    height: 480px;
}

#consultation .right-column .title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 17px;
}

#consultation .right-column .description {
    width: 588px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 44px;

}

/* ==============Footer-top============== */
#footer {
    margin-top: 107px;
    background-color: #F5F5F5;
}

#footer .footer-top {
    background-color: #3B00DD;
    height: 144px;
}

#footer .input-mail {
    display: flex;
    margin: 48px 0;
}

#footer .container-mail {
    display: flex;
}

#footer .mail {
    width: 306px;
    height: 48px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .write {
    display: flex;
    width: 180px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 26px;
    background-color: #03DAC4;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0;
}

#footer .svg-icons {
    display: flex;
    margin: 52px 0 52px 534px;

}

#footer .svg-icon {
    display: flex;
    margin: 0 auto;
}

#footer .social-item {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(250, 250, 250, 0.5);

}

/* ==============Footer-bottom============== */
#footer .footer-bottom .container {
    position: relative;
    /* background: #979797; */
   
}

#footer .header-logo {
    position: absolute;
    top: 66px;
    left: 113px;
    margin: 0;
}

#footer .left-column {
    position: absolute;
    top: 70px;
    left: 308px;
    width: 180px;
    height: 195px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    

}

#footer .left-column .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87)
}

#footer .left-column .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 27px;
}

#footer .left-column .description {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 27px;
}

#footer .middle-column {
    position: absolute;
    top: 72px;
    left: 600px;
}

#footer .middle-column .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87)
}

#footer .middle-column .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 29px;
    width: 180px;
}

#footer .middle-column .description  {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    margin: 22px 0;
}

#footer .right-column {
    position: absolute;
    top: 72px;
    left: 918px;
}

#footer .right-column .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
}

#footer .right-column ul .navigation {
    display: block;
    margin-bottom: 8px;

}


#footer .right-column .navigation a{

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

}

#footer .right-column .navigation li{
    margin-top: 8px;
}
#footer .right-column .navigation li :hover{
    color:#03DAC4;
}
#footer .footer-bottom {
    position: relative;
}
#footer .privacy-policy{
    position: absolute;
    top: 424px;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: #FFFFFF;
}
#footer .privacy-policy .links{
   text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
   
}
#footer .privacy-policy .first{
    position: absolute;
    top: 48px;
    left: 0;
}

#footer .privacy-policy .second{
    position: absolute;
    top: 48px;
    left: 176px;
}
#footer .privacy-policy .third{
    position: absolute;
    top: 48px;
    right: 78px;
}
#footer .privacy-policy .links:hover{
    opacity: 1;
    color:#03DAC4;
}